<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
			rel="stylesheet"
		/>

		<title>Oma Nathan</title>
	</head>
	<body>
		<a href="#maincontent" class="skip-link">Skip To Content</a>
		<header class="header">
			<div class="headerNav">
				<button id="hamburger" href="#">☰</button>
				<nav class="nav" id="drawer">
					<button id="hamburger2" href="#">☰</button>

					<ul class="navList">
						<li class="navItem">
							<button href="index.html">Home</button>
						</li>
						<li class="navItem">
							<button href="#">Favorite</button>
						</li>
						<li class="navItem">
							<button href="https://github.com/Samuelyusa">
								About Us
							</button>
						</li>
					</ul>
				</nav>
			</div>
			<div class="headerTitle">
				<p class="headerText" tabindex="0">Oma Nathan Cafe</p>
			</div>
		</header>
		<main>
			<div class="hero"></div>
			<section class="content" id="maincontent">
				<div id="listContent"></div>
			</section>
		</main>
		<footer>
			<ul>
				<li><button href="#">Help</button></li>
				<li><button href="#">About</button></li>
				<li><button href="#">Contact</button></li>
			</ul>
			<p>Copyright © 2023 - Oma Nathan</p>
		</footer>
	</body>
</html>
